# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/images
/js_lib
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
js_lib/img/start.jpg
js_lib/img/logo.png
js_lib/img/hightlight.png
images/rou_on_high.png
images/hightlight.png
App.js
App.css
js_lib/img/roullette_board.png
js_lib/img/rou_under_high.png
js_lib/img/highlight_area.png
js_lib/App.js
images/start.jpg
images/pointer.png
js_lib/img/rou_on_high.png
js_lib/img/pointer.png
index1.html
index1.css
images/favicon.png
yarn.lock
images/rou_under_high.png
js_lib/img/favicon.png
images/background.jpg
js_lib/img/background.jpg